body{
	/* Setting background of page to grey */
	background-color: #222222;
}
.title {
	text-align: center;
	font-size: 32px;
	color: #808080;
}
table {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #add8e6;
	background-color: #808080;
}
/* Setting colors for first link */
a#a1:link {
	color: #808080;
	text-decoration: none;
}
a#a1:visited{
	color: #808080;
	text-decoration: none;
}
a#a1:hover {
	color: #ff0000;
	text-decoration: none;
}
a#a1:active {
	color: #808080;
	text-decoration: none;
}
/* Setting colors for second link */
a#a2:link {
	color: #808080;
	text-decoration: none;
}
a#a2:visited {
	color: #808080;
	text-decoration: none;
}
a#a2:hover {
	color: #00ff00;
	text-decoration: none;
}
a#a2:active {
	color: #808080;
	text-decoration: none;
}