body{
/* Setting background of page to grey */
	background-color: #222222;
}
/* Setting Classes */
.title {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}
.text {
	text-align: center;
	color: #808080;
	font-size: 18px
}
.header {
	text-align: center;
	border-style: solid;
	border-color: #add8e6;
	border-width: 1px;
	font-size: 24px
}
.center {
	text-align: center;
}
.link {
	direction: rtl;
}
/* Setting Table Vars */
table {
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #add8e6;
	background-color: #808080;
	color: #222222;
}
/* Setting colors for first link */
a#a1:link {
	color: #808080;
	text-decoration: none;
}
a#a1:visited{
	color: #808080;
	text-decoration: none;
}
a#a1:hover {
	color: #ff0000;
	text-decoration: none;
}
a#a1:active {
	color: #808080;
	text-decoration: none;
}
/* Setting colors for second link */
a#a2:link {
	color: #808080;
	text-decoration: none;
}
a#a2:visited {
	color: #808080;
	text-decoration: none;
}
a#a2:hover {
	color: #00ff00;
	text-decoration: none;
}
a#a2:active {
	color: #808080;
	text-decoration: none;
}